@font-face {
  font-family: "Gilroy";
  src: url(../assets/fonts/Gilroy-Regular.woff2), url(../assets/fonts/Gilroy-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(../assets/fonts/Gilroy-Bold.woff2), url(../assets/fonts/Gilroy-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optima";
  src: url(../assets/fonts/Optima-Regular.woff2), url(../assets/fonts/Optima-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url(../assets/fonts/TrebuchetMS-Bold.woff2), url(../assets/fonts/TrebuchetMS-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}