@media (max-width: 490px) {
  h1 {
    font-size: 44px;
  }

  .title {
    font-size: 36px;
  }

  .intro {
    &__logo {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1164px) {
  .program {
    &__items {
      background: url(../assets/images/program/grl.png);
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }
}

@media (min-wdith: 992px) {
  .gratitude {
    &__img {
      margin-right: -100%;
    }
  }
}

@media (max-width: 722px) {
  .gratitude {
    &__inner {
      flex-direction: column;
    }

    &__logo {
      position: static;
    }
  }
}

@media (min-width: 1177px) {
  .footer {
    &__support {
      margin-right: 30px;
      padding: 70px 100px 70px 0;

      border-right: 1px solid $color-black;
    }
  }
}